body { background-color:#FFF }
#page-wrap {
	padding-left:302px;
}
#side {
	width: 300px;
	position: fixed;
	background-color: #000;
	height:100%;
	color: #FFF;
}
#side a {
	color:#FFF;
}
#branding .site-title {
	width:115px;
	height:151px;
	padding:1em 0;
	margin:0 auto;
}
#branding .site-sub-title {
	padding:0;margin:0;
	height:0px;overflow: hidden;text-indent: -999999px;
}
#branding .site-title a {
	display: block;
	width: 115px;
	height:151px;
	overflow: hidden;
	text-indent: -99999px;
	background:url(../images/logo.png) no-repeat 0 0;
}
#primary-area {
	padding:1em;
	background-color:#FFF;
}


.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
html[xmlns] .clearfix {
	display: block;
}